<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <link rel="stylesheet" href="../../static/css/style.css"> <!-- 스타일 시트 추가 -->
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <div class="form-group text-right">
            <a href="/cboard/insert">
                <button type="button" class="btn btn-secondary btn-sm" id="writeBtn">글쓰기</button>
            </a>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cboard : ${clists}">
                <td th:text="${cboard.num}">번호</td>
                <td><a th:href="@{/cboard/cview(num=${cboard.num})}" th:text="${cboard.title}">제목</a></td>
                <td th:text="${cboard.writer}">작성자</td>
                <td th:text="${#temporals.format(cboard.regdate, 'yyyy-MM-dd HH:mm')}">작성일</td>
                <td th:text="${cboard.hitcount}">조회수</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
