<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<div layout:fragment="content">
    <div class="container mt-3">
        <div class="form-group text-right">
            <a href="/cboard/cregister">
                <button type="button" class="btn btn-secondary btn-sm" id="writeBtn">글쓰기</button>
            </a>
        </div>
        <a href="/cboard/view/1"></a>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cboard : ${clists}">
                <td th:text="${cboard.cno}"></td>
                <td><a th:href="|@{/cboard/cread(cno=${cboard.cno})}|">[[${cboard.title}]]></a></td>
                <td th:text="${cboard.userId}"></td>
                <td th:text="${cboard.createdAt}"></td>
                <td th:text="${cboard.hitCount}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>