<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/basic.html}"
      lang="en">

<div layout:fragment="content">
    <div class="container mt-3">
        <h3>게시글 상세 보기</h3>
        <br/>
        <div class="form-group">
            <label for="cno">번호</label>
            <input type="text" class="form-control" id="cno" name="cno" th:value="${cboard.cno}" readonly="readonly">
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${cboard.title}"
                   readonly="readonly">
        </div>
        <div class="form-group">
            <label for="userId">작성자</label>
            <input type="text" class="form-control" id="userId" name="userId" th:value="${cboard.user.username}"
                   readonly="readonly">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea name="content" id="content" class="form-control"
                      readonly="readonly">[[${cboard.content }]]</textarea>
        </div>
        <div class="form-group">
            <label for="createdAt">등록일</label>
            <input type="text" class="form-control" id="createdAt" name="createdAt" th:value="${cboard.createdAt}"
                   readonly="readonly">
        </div>
        <div class="form-group">
            <label for="hitCount">조회수</label>
            <input type="text" class="form-control" id="hitCount" name="hitCount" th:value="${cboard.hitCount}"
                   readonly="readonly">
        </div>
        <div class="form-group">
            <label for="replyCount">댓글 수</label>
            <input type="text" class="form-control" id="replyCount" name="replyCount" th:value="${cboard.replyCount}"
                   readonly="readonly">
        </div>


        <div class="input-group mb-3">
                <span sec:authorize="isAuthenticated()"
                      th:if="${#authentication.principal.username == cboard.user.username}">
                    <a th:href="|@{/cboard/cmodify(cno=${cboard.cno})}|">
                        <button type="button" id="btnModify" class="btn btn-secondary">수정</button>
                    </a>
                        <button type="button" id="btnRemove" class="btn btn-danger" onclick="removeRegisger(${cboard.cno})">삭제</button>
                </span>
            <a th:href="|@{/cboard/clist}|">
                <button type="button" id="btnList" class="btn btn-info">List</button>
            </a>
        </div>
    </div>

    <!--댓글 부분-->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4">
                <button sec:authorize="isAuthenticated()" class="btn btn-info addReplyBtn">댓글 작성</button>
            </div>
            <ul class="list-group replyList">
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <ul class="pagination replyPaging">
            </ul>
        </div>
    </div>

    <div class="modal registerModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">댓글 작성</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">댓글 내용</span>
                        <input type="text" class="form-control replyText">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">댓글 작성자</span>
                        <input type="text" class="form-control replyer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary registerBtn">댓글 등록</button>
                    <button type="button" class="btn btn-outline-dark closeRegisterBtn">취소</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/creply.js"></script>
</div>
<script layout:fragment="script" th:inline="javascript">
    const cno = [[${cboard.cno}]]
    const replyList = document.querySelector('.replyList')
    let str = ''

    function printList(dtoList) {
        str = ''
        if (dtoList && dtoList.length > 0) {
            for (const dto of dtoList) {
                str += `<li class="list-group-item d-flex replyItem">
                      <span class="col-1">${dto.rno}</span>
                      <span class="col-6" data-rno="${dto.rno}">${dto.replyText}</span>
                      <span class="col-2">${dto.replyer}</span>
                      <span class="col-2">${dto.createdAt} </span>

                      <button class="btn btn-outline-dark addReplyBtn" data-rno="${dto.rno}">댓글작성</button>
                      <button class="btn btn-outline-dark modifyReplyBtn" data-rno="${dto.rno}">수정</button>
                      <button class="btn btn-outline-danger deleteReplyBtn" data-rno="${dto.rno}">삭제</button>
                    </li>`
                if (dto.children && dto.children.length > 0) {
                    str += ` <ul> `
                    printList(dto.children)
                    str += ` </ul> `
                }
            }
        }
        return str;
    }

    function printReplies() {
        str = ''
        getList(cno).then(
            data => {

                replyList.innerHTML = printList(data) //목록 처리

            }
        ).catch(e => {
            console.error(e)
        })
    }

    printReplies();

    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"))
    const registerBtn = document.querySelector(".registerBtn")
    const replyText = document.querySelector(".replyText")
    const replyer = document.querySelector(".replyer")
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn")
    let parentId = ''
    document.querySelector(".addReplyBtn").addEventListener("click", function (e) {
        registerModal.show()
    }, false)

    closeRegisterBtn.addEventListener("click", function (e) {
        registerModal.hide()
    }, false)

    registerBtn.addEventListener("click", function (e) {
        let replyObj = null
        if (parentId === '') {
            replyObj = {
                replyText: replyText.value,
                replyer: replyer.value
            }
        } else {
            replyObj = {
                replyText: replyText.value,
                replyer: replyer.value,
                parentId: parentId
            }
        }
        addReply(replyObj, cno).then(result => {
            alert(result)
            registerModal.hide()
            replyText.value = ''
            replyer.value = ''
            printReplies()
        }).catch(e => {
            alert("Exception...")
        })
    }, false)

    //대댓글
    replyList.addEventListener("click", function (e) {
        const target = e.target;
        const rno = target.getAttribute("data-rno");

        if (target.classList.contains("addReplyBtn")) {
            parentId = rno;
            registerModal.show();
        } else if (target.classList.contains("modifyReplyBtn")) {
            const newReplyText = prompt("Enter new reply text:");
            if (newReplyText) {
                modifyReply({ rno, replyText: newReplyText }).then(result => {
                    alert("Reply modified");
                    printReplies();
                }).catch(e => {
                    alert("Exception...");
                });
            }
        } else if (target.classList.contains("deleteReplyBtn")) {
            if (confirm("Are you sure you want to delete this reply?")) {
                removeReply(rno).then(result => {
                    alert("Reply deleted");
                    printReplies();
                }).catch(e => {
                    alert("Exception...");
                });
            }
        }
    }, false);

</script>
</html>
