<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/basic.html}"
      lang="en">
<head>
    <title>Read Page</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">게시글 상세 보기</h5>
            <div class="input-group mb-3">
                <span class="input-group-text">번호</span>
                <input type="text" class="form-control" name="cno" th:value="${dto.cno}" readonly="readonly">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">제목</span>
                <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly="readonly">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">작성자</span>
                <input type="text" class="form-control" name="name" th:value="${dto.user.username}" readonly="readonly">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Content</span>
                <textarea name="content" class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">작성일</span>
                <input type="text" class="form-control" name="createdAt" th:value="${dto.createdAt}"
                       readonly="readonly">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">조회수</span>
                <input type="text" class="form-control" name="hitCount" th:value="${dto.hitCount}" readonly="readonly">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">댓글 수</span>
                <input type="text" class="form-control" name="replyCount" th:value="${dto.replyCount}"
                       readonly="readonly">
            </div>
            <div class="input-group mb-3">
                <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username == dto.user}">
                    <a th:href="@{/cboard/cmodify(cno=${dto.cno})}" class="text-decoration-none">
                        <button type="button" class="btn btn-primary">수정</button>
                    </a>
                    <a th:href="@{/cboard/cremove(cno=${dto.cno})}" class="text-decoration-none">
                        <button type="button" class="btn btn-danger">삭제</button>
                    </a>
                </span>
                <a th:href="@{/cboard/clist}" class="text-decoration-none">
                    <button type="button" class="btn btn-secondary">목록</button>
                </a>
            </div>
        </div>
    </div>

            <!--  &lt;!&ndash; 이미지 첨부파일 &ndash;&gt;
              <div class="input-group mb-3">
                  <span class="input-group-text">Attached Files</span>
                  <div class="col" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                      <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                          <img class="m-3" th:each="fileName : ${dto.fileNames}" th:src="|/cboard/view/s_${fileName}|">
                      </div>
                  </div>
              </div>

              <div class="input-group mb-3">
                  <span class="input-group-text">Writer</span>
                  <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
              </div>
              <div class="input-group mb-3">
                  <span class="input-group-text">RegisterDate</span>
                  <input type="text" class="form-control" name="createdAt" th:value="${dto.createdAt}" readonly>
              </div>
              <div class="input-group mb-3">
                  <span class="input-group-text">ModifyDate</span>
                  <input type="text" class="form-control" name="modDate" th:value="${dto.updatedAt}" readonly>
              </div>
              <div class="input-group mb-3">
                  <span class="input-group-text">VisitCount</span>
                  <input type="text" class="form-control" name="visitcount" th:value="${dto.visitcount}" readonly>
              </div>
              <div class="input-group mb-3" th:with="link=${cpageRequestDTO.getLink()}">
                  <a th:href="|@{/cboard/cmodify(cno=${dto.cno})}&${link}|" class="text-decoration-none">
                      <button type="button" class="btn btn-primary">Modify</button>
                  </a>
                  <a th:href="|@{/cboard/clist}?${link}|" class="text-decoration-none">
                      <button type="button" class="btn btn-secondary">Board List</button>
                  </a>
              </div>
          </div>
      </div>-->
        <!--댓글 부분-->
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="my-4">
                        <button sec:authorize="isAuthenticated()" class="btn btn-info addReplyBtn">댓글 작성</button>
                    </div>
                    <ul class="list-group replyList">
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <ul class="pagination replyPaging">
                    </ul>
                </div>
            </div>

            <div class="modal registerModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">댓글 작성</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text">댓글 내용</span>
                                <input type="text" class="form-control replyText">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">댓글 작성자</span>
                                <input type="text" class="form-control replyer">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary registerBtn">댓글 등록</button>
                            <button type="button" class="btn btn-outline-dark closeRegisterBtn">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/creply.js"></script>
    </div>
        <script layout:fragment="creply" th:inline="javascript">
            const cno = [[${dto.cno}]]
            const replyList = document.querySelector('.replyList')
          let str = ''
              function printList(dtoList) {
                  if (dtoList && dtoList.length > 0) {
                      for (const dto of dtoList) {
                          str += `<li class="list-group-item d-flex replyItem">
                      <span class="col-2">${dto.rno || ''}</span>
                      <span class="col-6" data-rno="${dto.rno || ''}">${dto.replyText || ''}</span>
                      <span class="col-2">${dto.replyer || ''}</span>
                      <span class="col-2">${dto.createdAt || ''} </span>

                      <button class="btn btn-outline-dark addReplyBtn" data-rno="${dto.rno || ''}">댓글작성</button>
                    </li>`
                          if(dto.children && dto.children.length > 0){
                                  str += ` <ul> `
                                      printList(dto.children)
                                    str += ` </ul> `
                            }
                        }
                    }
                    replyList.innerHTML = str;
                }
                function printCreplies() {
                str = ''
                    getList({cno: cno}).then(data => {
                        printList(data);
                        }
                    ).catch(e => {
                        console.error(e)
                    })
                }
                printCreplies();

            const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"))
            const registerBtn = document.querySelector(".registerBtn")
            const replyText = document.querySelector(".replyText")
            const replyer = document.querySelector(".replyer")
            const closeRegisterBtn = document.querySelector(".closeRegisterBtn")
                let parentId = ''
                    document.querySelector(".addReplyBtn").addEventListener("click", function (e) {
                        registerModal.show()
                    }, false)

                    closeRegisterBtn.addEventListener("click", function (e) {
                        registerModal.hide()
                    }, false)

                        registerBtn.addEventListener("click", function (e) {
                               let replyObj = {
                                    replyText: replyText.value,
                                    replyer: replyer.value
                                };
                               if (parentId !== '') {
                                   replyObj.parentId = parentId
                            } addReply(replyObj, cno).then(result => {
                                alert(result)
                                registerModal.hide()
                                replyText.value = ''
                                replyer.value = ''
                                printCreplies();
                            }).catch(e => {
                                alert("Exception...")
                            });
                            }, false);

        </script>
</body>
</html>
