<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic1.html}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="../../static/css/style.css"> <!-- 스타일 시트 추가 -->
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Register Page</h5>
            <form action="@{/board/register}" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <span class="input-group-text">Title</span>
                    <input type="text" class="form-control" name="title" placeholder="Title" required>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Content</span>
                    <textarea name="content" class="form-control" rows="5" placeholder="Content" required></textarea>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Writer</span>
                    <input type="text" class="form-control" name="writer" placeholder="Writer" required>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">File Upload</span>
                    <input type="file" class="form-control" name="files" multiple>
                </div>

                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
