<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<link rel="stylesheet" href="../../static/css/modify.css">
<link rel="shortcut icon" href="../../static/images/favicon2.png"/>
<div layout:fragment="content">
    <div class="container">
        <h3>[[${board.title}]] 수정</h3>
        <form action="/board/modify" method="post">
            <input type="hidden" name="bno" id="bno" th:value="${board.bno}">
            <div class="form-group">
                <label for="title">제목:</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${board.title}">
            </div>
            <div class="form-group">
                <label for="writer">글쓴이:</label>
                <input type="text" class="form-control" id="writer" name="writer" th:value="${board.writer}" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="content">내용:</label>
                <textarea class="form-control" rows="5" id="content" name="content" th:text="${board.content}"></textarea>
            </div>
            <div class="form-group">
                <label for="petColor">동물 색상</label>
                <select name="petColor" id="petColor">
                    <option value="BLACK">검정</option>
                    <option value="WHITE">흰색</option>
                    <option value="GRAY">회색</option>
                    <option value="CREME">크림</option>
                    <option value="CHOCOLATE">초콜릿</option>
                    <option value="GOLDEN">금색</option>
                    <option value="MIXED">혼합색</option>
                    <option value="OTHER">기타</option>
                </select>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-secondary btn-sm" id="btnModify">수정하기</button>
            </div>
        </form>
    </div>
</div>

</html>
