<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/read.css">
    <title>[[${dto.title}]] 상세보기</title>
    <style>
        .law-section {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: #F0F8F8;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .law-section p {
            flex: 1;
            font-size: 0.9rem;
            color: #333;
            margin: 0;
            padding-right: 10px;
        }

        .form-container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #f7f7f7;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group label {
            font-weight: bold;
        }

        .form-group input, .form-group textarea, .form-group select {
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        label {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <main>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <p>내 반려동물 찾기 - 상세 보기</p>
                    </div>

        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text">No</span>
                <input type="text" class="form-control" th:value="${dto.bno}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">제목</span>
                <input type="text" class="form-control" th:value="${dto.title}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">내용</span>
                <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
            </div>
            <div class="form-group mb-3">
                <span class="input-group-text">펫 종류</span>
                <select class="form-control" id="petType" name="petType" th:value="${dto.petType}" readonly>
                    <option value="Dog">강아지</option>
                    <option value="Cat">고양이</option>
                    <option value="Other">기타</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="writer">작성자</label>
                <input type="text" class="form-control" id="writer" th:value="${dto.user.username}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">작성일</span>
                <input type="text" class="form-control" th:value="${#temporals.format(dto.createdAt, 'yyyy-MM-dd')}" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">수정일</span>
                <input type="text" class="form-control" th:value="${#temporals.format(dto.updatedAt, 'yyyy-MM-dd')}" readonly>
            </div>

            <h4>신고자 정보</h4>
            <table class="table detail-table mt-0 mb-30">
                <caption>
                    분실신고자 정보로 신고자, 연락처를 안내하고 있습니다.
                </caption>
                <colgroup>
                    <col style="width: 500px">
                    <col style="width: 160px">
                    <col style="width: 500px">
                    <col style="width: 160px">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row" class="first">신고자</th>
                    <td class="text-left">[[${dto.user.nickname}]]</td>
                    <th scope="row">연락처</th>
                    <td class="text-left last">[[${dto.mobile}]]</td>
                </tr>
                </tbody>
            </table>
            <h4>분실장소 및 날짜</h4>
            <table class="table detail-table mt-0 mb-30">
                <caption>
                    분실장소 및 날짜를 안내하고 있습니다.
                </caption>
                <colgroup>
                    <col style="width: 160px">
                    <col style="width: 1460px">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row" class="first">분실 날짜</th>
                    <td class="text-left">[[${dto.lostDate}]]</td>
                </tr>
                <tr>
                    <th scope="row">분실 장소</th>
                    <td class="text-left last">[[${dto.location}]] [[${dto.locationDetail}]]</td>
                </tr>
                </tbody>
            </table>
            <h4>분실동물 정보</h4>
            <div class="input-group mb-3">
                <span class="input-group-text">첨부파일</span>
                <div class="col" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                    <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                        <img class="m-3" th:each="fileName : ${dto.fileNames}"
                             th:src="@{'/board/view/s_' + ${fileName}}" alt="Attachment">
                    </div>
                </div>
            </div>
            <table class="table detail-table mt-0 mb-30">
                <caption>
                    분실동물 정보로 품종, 성별, 특징, 몸무게, 털색상, 길이, 나이, 발견장소를 안내하고 있습니다.
                </caption>
                <colgroup>
                    <col style="width: 17%">
                    <col style="width: 23%">
                    <col style="width: 17%">
                    <col style="width: 23%">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row" class="first">품종</th>
                    <td class="text-left">[[${dto.petBreeds}]]</td>
                    <th scope="row">털 색상</th>
                    <td class="text-left last">[[${dto.petColor.color}]]</td>
                    <th scope="row">이름</th>
                    <td class="text-left last">[[${dto.petName}]]</td>
                </tr>
                <tr>
                    <th scope="row" class="first">성별</th>
                    <td class="text-left">[[${dto.petGender}]]</td>
                    <th scope="row">나이</th>
                    <td class="text-left last">[[${dto.petAge}]]</td>
                </tr>
                <tr>
                    <th scope="row" class="first">특징(구체적 묘사)</th>
                    <td class="text-left last" colspan="3">[[${dto.petDescription}]]</td>
                    <th scope="row" class="first">몸무게</th>
                    <td class="text-left last" colspan="3">[[${dto.petWeight}]]Kg</td>
                </tr>
                <tr>
                    <th scope="row" class="first">발견/잃어버린 장소</th>
                    <td class="text-left last" colspan="3">[[${dto.lostDate}]] [[${dto.location}]] [[${dto.locationDetail}]]</td>
                </tr>
                </tbody>
            </table>
            <div id="map" style="width:500px;height:400px;"></div>
            <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=41caa1d7d9b7baa2f49d25f886b4dc1f"></script>
            <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=LIBRARY"></script>
            <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services"></script>

            <script>
                var container = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667),
                    level: 3
                };

                var map = new kakao.maps.Map(container, options);
            </script>
            <script>
                var places = new kakao.maps.services.Places();

                var callback = function (result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        console.log(result);
                    }
                };

                places.keywordSearch('dto.location', callback);
            </script>

            <div class="my-4">
                <div class="float-end" th:with="link= ${pageRequestDTO.getLink()}">
                    <a th:href="|@{/board/list/(page=${link}|" class="text-decoration-none">
                        <button type="button" class="btn btn-secondary">목록</button>
                    </a>

            <div class="form-buttons">
                <a th:href="@{/board/list}" class="btn btn-secondary">목록</a>
                <a th:href="@{/board/modify/{id}(id=${dto.id})}" class="btn btn-primary">수정</a>
            </div>
        </div>
    </main>
</div>
</body>
</html>