<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="'반려동물 찾기'">반려동물 찾기</title>
  <link rel="stylesheet" href="../../static/css/write2.css">
</head>
<body layout:fragment="content">
<main>
  <h2>반려동물을 찾아요</h2>
  <form th:action="@{/board/write3}" method="post" id="contact-form">
    <div class="form-group">
      <label for="name">이름*:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">이메일*:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="phone">전화번호:</label>
      <input type="tel" id="phone" name="phone">
    </div>
    <div class="form-buttons">
      <button type="reset">리셋</button>
      <button type="submit">다음</button>
    </div>
  </form>
</main>

<script layout:fragment="script" th:inline="javascript">
  const errors = [[${errors}]];
  console.log(errors);

  let errorMsg = '';

  if (errors) {
    for (let i = 0; i < errors.length; i++) {
      errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`;
    }
    alert(errorMsg);
  }
</script>

<footer>
  <p>© 2024 찾개냥. All rights reserved.</p>
</footer>
</body>
</html>
