<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout/basic.html}">
<head>
    <link rel="shortcut icon" href="../static/images/favicon.ico"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
    <!--<link rel="stylesheet" th:href="@{/css/bye.css}">-->
</head>
<body layout:fragment="content">
<main>
    <h2>회원 탈퇴</h2>
    <form action="@{/withdraw}" method="post" onsubmit="return confirmDelete()">
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-buttons">
            <button type="submit">탈퇴</button>


            <a href="@{/mypage}"><button type="button">취소</button></a>
        </div>
    </form>
</main>
</body>
</html>
    <script>
        function confirmDelete() {
        return confirm("정말로 탈퇴하시겠습니까?");
    }
</script>
