<!DOCTYPE html>
<html lang="ko">

<head>

    <link rel="shortcut icon" href="../static/images/favicon.ico"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" th:href="@{/css/bye.css}">

</head>
<body>
<header class="header">
    <span style="font-size: 2rem; display: inline;"> 여기서</span>
    <h1 style="display: inline; font-size: 5rem;">찾개냥</h1>
    <nav class="nav justify-content-end mt-3">
        <a class="nav-link text-black" href="@{/signup}">SIGN UP</a>
        <a class="nav-link text-black" href="@{/login}">LOGIN</a>
        <a class="nav-link text-black" href="@{/home1}">HOME</a>
    </nav>
</header>

<main>
    <h2>회원 탈퇴</h2>
    <p>정말 탈퇴하시겠습니까?</p>
    <form action="@{/withdraw}" method="post">
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-buttons">
            <button type="submit">탈퇴</button>
            <a href="@{/mypage}"><button type="button">취소</button></a>
        </div>
    </form>
</main>

<footer>
    <p>© 2024 찾개냥. All rights reserved.</p>
</footer>
</body>
</html>
