<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="ko">
<head>
  <link rel="shortcut icon" href="../static/images/favicon3.png"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>작성 완료</title>
</head>
<body layout:decorate="constant" >
<main>
  <h2>로그아웃 완료</h2>
  <p>정상적으로 로그아웃이 되었습니다.</p>

  <div class="form-buttons">
    <a th:href="@{/home}"><button>홈으로 돌아가기</button></a>
    <a th:href="@{/user/login}"><button>다시 로그인 하기</button></a>
  </div>
</main>
<footer>
  <p>© 2024 찾개냥. All rights reserved.</p>
</footer>
</body>
</html>
